In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
#accessing mike
dict1["april_batch"]["student"]["name"]

'Mike'

In [3]:
#accesiing 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [5]:
#change mike to vijaya
dict1["april_batch"]["student"]["name"] = "vijaya"
dict1

{'april_batch': {'student': {'name': 'vijaya',
   'marks': {'python': 80, 'maths': 70}}}}

In [6]:
#add Ml = 80 and Dl = 80
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1

{'april_batch': {'student': {'name': 'vijaya',
   'marks': {'python': 80, 'maths': 70, 'DL': 80}}}}

In [7]:
dict1["ML"] = 80
dict1

{'april_batch': {'student': {'name': 'vijaya',
   'marks': {'python': 80, 'maths': 70, 'DL': 80}}},
 'ML': 80}