In [26]:
count = 10
while count>0:
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1

In [2]:
#for loop 
list1 = [1,2,3,4,5,6]  #list
for a in list1:
    print(a)

1
2
3
4
5
6

In [3]:
#using break statement in list
list1 = [1,2,3,4,5,6]
for a in list1:
    print(a)
    if a == 4:
        break

1
2
3
4

In [4]:
#continue statement
list1 = [1,2,3,4,5,6,7,8,9,10]
for a in list1:
    if a == 6:
        continue
    print(a)

1
2
3
4
5
7
8
9
10

In [5]:
#for loop in strings
str1 = ['1', '2','3', '4', '5', '6', '7', '8']
for a in str1:
    print(a)

1
2
3
4
5
6
7
8

In [6]:
#using break statement in string
str1 = ['1', '2','3', '4', '5', '6', '7', '8']
for a in str1:
    print(a)
    if a == '5':
        break

1
2
3
4
5

In [7]:
#continue statement in strings
for a in str1:
    if a == 4:
        continue
    print(a)

1
2
3
4
5
6
7
8

In [11]:
#for loop using in tuples
tup1 = (1,2,3,4,5,'python', 'mongo db', 'sql', 'django')
for a in tup1:
    print(a)

1
2
3
4
5
python
mongo db
sql
django

In [12]:
for a in tup1:
    print(a)
    if a == 'python':
        break

1
2
3
4
5
python

In [13]:
for a in tup1:
    if a == 'python':
        continue
    print(a)

1
2
3
4
5
mongo db
sql
django

In [14]:
#for loop using for dictionaries
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
for a in dict1:
    print(a)

Brand
model
year
cost

In [15]:
for a in dict1:
    print(a)
    if a == 'year':
        break

Brand
model
year

In [17]:
for a in dict1:
    if a == 'model':
        continue
    print(a)

Brand
year
cost

In [18]:
set1 = {1,2,3,4,5,"python","sql","minnie","mouse"}
for a in set1:
    print(a)

1
2
3
4
5
python
sql
minnie
mouse

In [19]:
for a in set1:
    print(a)
    if a == 'sql':
        break

1
2
3
4
5
python
sql

In [20]:
for a in set1:
    if a == 'sql':
        continue
    print(a)

1
2
3
4
5
python
minnie
mouse

In [22]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13]
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [24]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [25]:
for a in range(1,13,2):
    print(a)

1
3
5
7
9
11