In [2]:
tup1 = (1,2,3,4,5,6,7,8,9,10,'python')
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python')

In [20]:
tup2 = list(tup1)
tup2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python', 'sql']

In [17]:
#adding 
tup2.append('sql')
tup2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python', 'sql']

In [19]:
tup1 = tuple(tup2)
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python', 'sql')

In [21]:
#deleting
tup2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python', 'sql']

In [22]:
del tup2[-3]
tup2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'python', 'sql']

In [23]:
tup = tuple(tup2)
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'python', 'sql')